 .u-section-1 {
  background-image: none;
  min-height: 1017px;
}

.u-section-1 .u-shape-1 {
  height: 688px;
  margin-top: 100px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 793px;
  height: 283px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -650px auto 0 calc(((100% - 1400px) / 2) + 182px);
}

.u-section-1 .u-image-2 {
  width: 737px;
  height: 553px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -236px auto 0 calc(((100% - 1400px) / 2) + 130px);
}

.u-section-1 .u-image-3 {
  width: 396px;
  height: 207px;
  margin: -431px calc(((100% - 1400px) / 2) + 137px) 0 auto;
}

.u-section-1 .u-group-1 {
  width: 661px;
  height: auto;
  min-height: 364px;
  margin: -12px calc(((100% - 1400px) / 2) + 109px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 20px 18px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  margin: 110px 25px 0 55px;
}

.u-section-1 .u-list-1 {
  width: 621px;
  margin: -133px auto 0 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 148px;
  grid-gap: 10px 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-icon-1 {
  width: 29px;
  height: 29px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 542px 0 0;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: -29px 55px 0 29px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-icon-2 {
  width: 29px;
  height: 29px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 542px 0 0;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -29px 55px 0 29px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 10px 3px;
}

.u-section-1 .u-icon-3 {
  width: 29px;
  height: 29px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 542px 0 0;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -29px 55px 0 29px;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 167px 54px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 948px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1020px) / 2) + 182px);
  }

  .u-section-1 .u-image-2 {
    height: 476px;
    margin-top: -226px;
    margin-left: calc(((100% - 1020px) / 2) + 89px);
  }

  .u-section-1 .u-image-3 {
    width: 294px;
    height: 152px;
    margin-top: -326px;
    margin-right: calc(((100% - 1020px) / 2));
  }

  .u-section-1 .u-group-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    width: 468px;
    min-height: 333px;
    margin-top: -15px;
    margin-right: calc(((100% - 1020px) / 2) + 19px);
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 5px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-list-1 {
    margin-top: -72px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 35px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 35px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 35px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin: 17px 30px 44px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 997px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 257px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 619px;
    height: 400px;
    margin-top: -200px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-top: -250px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-1 {
    min-height: 296px;
    margin-top: -26px;
    margin-right: calc(((100% - 720px) / 2) + -31px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 43px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -110px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 366px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 366px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 366px;
  }

  .u-section-1 .u-text-6 {
    margin: 55px calc(((100% - 720px) / 2) + 15px) 60px calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1031px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 193px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 481px;
    height: 302px;
    margin-top: -136px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    width: 187px;
    height: 96px;
    margin-top: -101px;
    margin-right: calc(((100% - 540px) / 2) + -31px);
  }

  .u-section-1 .u-group-1 {
    min-height: 301px;
    margin-top: -21px;
    margin-right: calc(((100% - 540px) / 2) + -31px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 7px 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-left: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 542px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 13px;
    margin-left: 29px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 542px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 13px;
    margin-left: 29px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 542px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 13px;
    margin-left: 29px;
  }

  .u-section-1 .u-text-6 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1140px;
  }

  .u-section-1 .u-image-1 {
    width: 326px;
    height: 117px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 297px;
    margin-top: -60px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -96px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 265px;
    margin-top: -3px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 48px;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -120px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 159px;
    grid-gap: 0px 0px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-icon-1 {
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-right: 276px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -24px;
    margin-right: 0;
    margin-left: 32px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-icon-2 {
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-right: 276px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -24px;
    margin-right: 0;
    margin-left: 32px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-1 .u-icon-3 {
    width: 24px;
    height: 24px;
    margin-top: 7px;
    margin-right: 276px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -24px;
    margin-right: 0;
    margin-left: 32px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
    margin: 66px auto 32px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 761px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 77px;
  margin-bottom: 27px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 657px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 0 30px;
}

.u-section-2 .u-image-1 {
  width: 526px;
  height: 615px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 657px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 85px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 357px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  width: 66px;
  height: 66px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 0 604px 0 0;
  padding: 13px;
}

.u-section-2 .u-text-2 {
  margin: -66px 0 0 82px;
}

.u-section-2 .u-text-3 {
  margin: 10px 0 0 82px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 66px;
  height: 66px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 0 604px 0 0;
  padding: 13px;
}

.u-section-2 .u-text-4 {
  margin: -66px 0 0 82px;
}

.u-section-2 .u-text-5 {
  margin: 10px 0 0 82px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  width: 66px;
  height: 66px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 0 604px 0 0;
  padding: 13px;
}

.u-section-2 .u-text-6 {
  margin: -66px 0 0 82px;
}

.u-section-2 .u-text-7 {
  margin: 10px 0 0 82px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 10px 20px 10px 10px;
  }

  .u-section-2 .u-image-1 {
    --radius: 50px;
    height: 531px;
    margin-top: 33px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 637px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 6px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 66px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 402px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 433px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 37px;
    margin-left: 78px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 1px;
    margin-left: 78px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 433px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 37px;
    margin-left: 78px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 1px;
    margin-left: 78px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 433px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 37px;
    margin-left: 78px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 1px;
    margin-left: 78px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 16px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 482px;
    margin-top: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 488px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 52px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 346px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -58px;
    margin-right: 54px;
    margin-left: 88px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 3px;
    margin-right: 17px;
    margin-left: 88px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -58px;
    margin-right: 54px;
    margin-left: 88px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 3px;
    margin-right: 17px;
    margin-left: 88px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -58px;
    margin-right: 54px;
    margin-left: 88px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 3px;
    margin-right: 17px;
    margin-left: 88px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 5px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 422px;
  }

  .u-section-2 .u-image-1 {
    height: 401px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 579px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -40px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 387px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -66px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -66px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -66px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 73px;
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-2 .u-image-1 {
    height: 424px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 685px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 582px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 10px;
  }

  .u-section-2 .u-icon-1 {
    width: 52px;
    height: 52px;
    margin-top: 1px;
    margin-right: 258px;
    padding: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -38px;
    margin-right: 33px;
    margin-left: 66px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 10px;
  }

  .u-section-2 .u-icon-2 {
    width: 52px;
    height: 52px;
    margin-top: 1px;
    margin-right: 258px;
    padding: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -38px;
    margin-right: 33px;
    margin-left: 66px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 10px;
  }

  .u-section-2 .u-icon-3 {
    width: 52px;
    height: 52px;
    margin-top: 1px;
    margin-right: 258px;
    padding: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -38px;
    margin-right: 33px;
    margin-left: 66px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 181px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  margin: 37px 0 60px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-bottom: 37px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 400px;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 8px;
}

.u-section-4 .u-back-image-1 {
  width: 375px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 8px;
}

.u-section-4 .u-back-image-2 {
  width: 375px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 8px;
}

.u-section-4 .u-back-image-3 {
  width: 375px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 8px;
}

.u-section-4 .u-back-image-4 {
  width: 375px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 8px;
}

.u-section-4 .u-back-image-5 {
  width: 375px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 8px;
}

.u-section-4 .u-back-image-6 {
  width: 375px;
  object-position: 22.44% 50%;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-7 {
  margin-right: 8px;
}

.u-section-4 .u-back-image-7 {
  width: 375px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
  padding: 8px;
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 952px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-image-1 {
  min-height: 827px;
  background-image: url("images/BrandisSolutions-mISTELBACH016.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 827px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 19px 0 51px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 13px 0 0;
}

.u-section-5 .u-list-1 {
  margin: 45px 0 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 710px;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 20px;
}

.u-section-5 .u-icon-1 {
  width: 66px;
  height: 66px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 0 604px 0 0;
  padding: 13px;
}

.u-section-5 .u-text-2 {
  margin: -66px 0 0 82px;
}

.u-section-5 .u-text-3 {
  margin: 10px 0 0 82px;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 20px;
}

.u-section-5 .u-icon-2 {
  width: 66px;
  height: 66px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 0 604px 0 0;
  padding: 13px;
}

.u-section-5 .u-text-4 {
  margin: -66px 0 0 82px;
}

.u-section-5 .u-text-5 {
  margin: 10px 0 0 82px;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 0 20px;
}

.u-section-5 .u-icon-3 {
  width: 66px;
  height: 66px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 0 604px 0 0;
  padding: 13px;
}

.u-section-5 .u-text-6 {
  margin: -66px 0 0 82px;
}

.u-section-5 .u-text-7 {
  margin: 10px 0 0 82px;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 0 20px;
}

.u-section-5 .u-icon-4 {
  width: 66px;
  height: 66px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 0 604px 0 0;
  padding: 13px;
}

.u-section-5 .u-text-8 {
  margin: -66px 0 0 82px;
}

.u-section-5 .u-text-9 {
  margin: 10px 0 0 82px;
}

.u-section-5 .u-container-layout-7 {
  padding: 0 0 20px;
}

.u-section-5 .u-icon-5 {
  width: 66px;
  height: 66px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 0 604px 0 0;
  padding: 13px;
}

.u-section-5 .u-text-10 {
  margin: -66px 0 0 82px;
}

.u-section-5 .u-text-11 {
  margin: 10px 0 0 82px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-5 .u-image-1 {
    min-height: 480px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 977px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 19px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: -40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 860px;
  }

  .u-section-5 .u-icon-1 {
    width: 43px;
    height: 43px;
    margin-right: 465px;
    padding: 8px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: -33px;
    margin-right: 95px;
    margin-left: 60px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-5 .u-icon-2 {
    width: 43px;
    height: 43px;
    margin-right: 465px;
    padding: 8px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -33px;
    margin-right: 95px;
    margin-left: 60px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-5 .u-icon-3 {
    width: 43px;
    height: 43px;
    margin-right: 465px;
    padding: 8px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -33px;
    margin-right: 95px;
    margin-left: 60px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-5 .u-icon-4 {
    width: 43px;
    height: 43px;
    margin-right: 465px;
    padding: 8px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: -33px;
    margin-right: 95px;
    margin-left: 60px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
  }

  .u-section-5 .u-icon-5 {
    width: 43px;
    height: 43px;
    margin-right: 465px;
    padding: 8px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: -33px;
    margin-right: 95px;
    margin-left: 60px;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: 15px;
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-5 .u-image-1 {
    min-height: 368px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 995px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 34px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 15px;
    margin-right: 339px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 170px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 15px;
    margin-right: 339px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 170px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-3 {
    margin-top: 15px;
    margin-right: 339px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 170px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-4 {
    margin-top: 15px;
    margin-right: 339px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 170px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-5 {
    margin-top: 15px;
    margin-right: 339px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 170px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-5 .u-image-1 {
    min-height: 552px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 434px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 17px;
    margin-left: 58px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 434px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 17px;
    margin-left: 58px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 434px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 17px;
    margin-left: 58px;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 434px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 17px;
    margin-left: 58px;
  }

  .u-section-5 .u-icon-5 {
    margin-right: 434px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 17px;
    margin-left: 58px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1783px;
  }

  .u-section-5 .u-image-1 {
    min-height: 303px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 1443px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 267px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 62px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 267px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
    margin-left: 62px;
  }

  .u-section-5 .u-icon-3 {
    margin-right: 267px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
    margin-left: 62px;
  }

  .u-section-5 .u-icon-4 {
    margin-right: 267px;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
    margin-left: 62px;
  }

  .u-section-5 .u-icon-5 {
    margin-right: 267px;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
    margin-left: 62px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 767px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 3px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 1175px;
}

.u-section-6 .u-container-layout-1 {
  padding: 27px 10px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  font-weight: normal;
  margin: 1px 1px 0;
}

.u-section-6 .u-text-2 {
  margin: 36px 2px 0 0;
}

.u-section-6 .u-image-1 {
  width: 297px;
  height: 257px;
  margin: 30px 2px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 1175px;
}

.u-section-6 .u-container-layout-2 {
  padding: 8px 9px;
}

.u-section-6 .u-accordion-1 {
  margin: 0;
}

.u-section-6 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-6 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 288px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 107px;
  height: 122px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 14px 0 0;
}

.u-section-6 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-6 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 288px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

.u-section-6 .u-text-4 {
  margin: 0;
}

.u-section-6 .u-image-3 {
  width: 219px;
  height: 125px;
  margin: 30px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-6 .u-accordion-item-3 {
  margin: 2px auto 0;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-6 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 288px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  width: 225px;
  height: 161px;
  margin: 0 355px 0 0;
}

.u-section-6 .u-text-6 {
  margin: 30px auto 0 0;
}

.u-section-6 .u-accordion-item-4 {
  margin: 2px auto 0;
}

.u-section-6 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-6 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-6 .u-accordion-pane-4 {
  min-height: 288px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  width: 90px;
  height: 90px;
  margin: 14px 209px 0 auto;
}

.u-section-6 .u-image-6 {
  width: 228px;
  height: 145px;
  margin: -104px auto 0 0;
}

.u-section-6 .u-text-7 {
  margin: 19px 0 0;
}

.u-section-6 .u-accordion-item-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-6 .u-icon-5 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-6 .u-accordion-pane-5 {
  min-height: 288px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px;
}

.u-section-6 .u-image-7 {
  width: 196px;
  height: 196px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-8 {
  margin: 14px 0 0;
}

.u-section-6 .u-accordion-item-6 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-6 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  padding: 30px;
}

.u-section-6 .u-icon-6 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 8px;
}

.u-section-6 .u-accordion-pane-6 {
  min-height: 288px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
  height: auto;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-image-8 {
  width: 290px;
  height: 145px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-9 {
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -3px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 856px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    width: 174px;
    height: 131px;
    margin-top: 46px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 1052px;
  }

  .u-section-6 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-4 {
    margin-right: 208px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 357px;
  }

  .u-section-6 .u-image-1 {
    width: 132px;
    height: 99px;
    margin-top: -8px;
    margin-right: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-image-4 {
    margin-right: 58px;
  }

  .u-section-6 .u-image-5 {
    margin-right: 193px;
  }

  .u-section-6 .u-image-8 {
    width: 283px;
    height: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 626px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1398px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}@font-face {
  font-family: 'calibri-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-bold.ttf);
}@font-face {
  font-family: 'calibri-regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-regular.ttf);
}@font-face {
  font-family: 'CopperplateGothicBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/CopperplateGothicBold.otf);
}