 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1000px;
}

.u-section-1 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 666px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 30px 28px 10px;
}

.u-section-1 .u-icon-1 {
  height: 70px;
  width: 125px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 34px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 229px auto 0 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 666px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-gallery-1 {
  height: 666px;
  width: 960px;
  margin: 0 -3px 0 auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 58px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 99px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 36px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-1 .u-gallery-1 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 442px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 671px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 278px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 667px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-gallery-1 {
  height: 666px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -20px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 666px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 60px 10px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 70px;
  width: 125px;
  margin: 0 0 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 288px 0 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 58px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 666px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 241px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 47px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 400px;
    order: 1;
  }

  .u-section-2 .u-gallery-1 {
    height: 400px;
    margin-top: -54px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 299px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 379px;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 371px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 44px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-3 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 66px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 666px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 60px 30px 0 10px;
}

.u-section-3 .u-icon-1 {
  height: 70px;
  width: 125px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 34px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 219px auto 0 0;
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 666px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-gallery-1 {
  height: 666px;
  width: 960px;
  margin: 0 -3px 0 auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 58px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 99px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 11px;
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 36px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 11px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-3 .u-gallery-1 {
    height: 400px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 442px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 278px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 666px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-gallery-1 {
  height: 666px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 666px;
}

.u-section-4 .u-container-layout-2 {
  padding: 60px 0 28px;
}

.u-section-4 .u-icon-1 {
  height: 70px;
  width: 125px;
  margin: 0 10px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 10px 0 30px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 206px 10px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 58px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 14px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 163px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 47px;
  }

  .u-section-4 .u-layout-cell-1 {
    order: 1;
    min-height: 346px;
  }

  .u-section-4 .u-gallery-1 {
    height: 400px;
    margin-top: -54px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 299px;
    order: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-4 .u-gallery-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
    padding-bottom: 19px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 32px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 9px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 237px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 44px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1068px;
}

.u-section-5 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 666px;
}

.u-section-5 .u-container-layout-1 {
  padding: 60px 30px 0 10px;
}

.u-section-5 .u-icon-1 {
  height: 70px;
  width: 125px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 34px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 219px auto 0 0;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 666px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-gallery-1 {
  height: 666px;
  width: 960px;
  margin: 0 -3px 0 auto;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 58px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 99px;
  }

  .u-section-5 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 549px;
  }

  .u-section-5 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 911px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 11px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 36px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 11px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-5 .u-gallery-1 {
    height: 400px;
    width: 100%;
    margin-right: undefined;
    margin-left: undefined;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 267px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 301px;
  }

  .u-section-5 .u-gallery-1 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 190px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-6 .u-text-1 {
  margin: 50px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  background-image: none;
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 666px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-gallery-1 {
  height: 666px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-6 .u-carousel-control-1 {
  position: absolute;
  left: -20px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -20px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 666px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 60px 0 20px;
}

.u-section-6 .u-icon-1 {
  height: 70px;
  width: 125px;
  margin: 0 10px 0 auto;
  padding: 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 10px 0 30px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 241px 10px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 58px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 58px;
  }

  .u-section-6 .u-layout-cell-2 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 4px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 145px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 47px;
  }

  .u-section-6 .u-layout-cell-1 {
    order: 1;
    min-height: 400px;
  }

  .u-section-6 .u-gallery-1 {
    height: 400px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 184px;
    order: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .u-section-6 .u-icon-1 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 950px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 460px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-bottom: 19px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-6 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 9px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 44px;
  }
}@font-face {
  font-family: 'calibri-bold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-bold.ttf);
}@font-face {
  font-family: 'calibri-regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibri-regular.ttf);
}@font-face {
  font-family: 'CopperplateGothicBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/CopperplateGothicBold.otf);
}